.authform-img-shadow {
  box-shadow: 5px 10px 15px #0003;
}

.auth-modal{
  animation: openModal .3s ease-in-out;
}
.auth-modal h2{
  font-family: tuffy;
}

@keyframes openModal {
  0% {
    /* transform: translateY(-150%); */
    transform: scale(0);
    opacity: 0;
  }
}

.form-change-animation {
  animation: changeForm .3s ease-in-out;
}
@keyframes changeForm {
  0% {
    transform: scale(0);
    opacity: 0;
  }
}